<body>
    <!-- body for adding lecturer -->
    <h1>Add Lecturer</h1>
    <form action="/addLecturer" method="POST">
        <li>Lecturer ID must be 4 Characters</li>
        <li>Name must be at least 5 Characters</li>
        <li>Department must be 3 Characters</li>
        <br></br>
        <label>Lecturer ID:</label>
        <input type="text" name="_id"><br>
        <label>Name</label>
        <input type="text" name="name"><br>
        <label>Department</label>
        <input type="text" name="dept"><br>
        <input type="submit" value="OK">

    </form>
    <!-- link to send you back to the homepage -->
    <a href="http://localhost:3004/">
        <p type="submit" value="Home">Home</p>
    </a>

</body>