<body>

    <!-- //link to list students from homepage -->
    <h1>This is the HomePage</h1>
    <a href="http://localhost:3004/listStudents">
        <p type="submit" value="Home">List Students</p>
    </a>

    <!-- //link to list modules from homepage -->
    <a href="http://localhost:3004/listModules">
        <p type="submit" value="Home">List Modules</p>
    </a>

    <!-- //link to list lecturers from homepage -->
    <a href="http://localhost:3004/listLecturers">
        <p type="submit" value="Home">List Lecturers</p>
    </a>

</body>