<style>
    table,
    th,
    td {
        border: 2px solid black;
        border-collapse: separate;
    }
</style>

<table>
    <h1>Students</h1>
    <th>Student ID</th>
    <th>Name</th>
    <th>GPA</th>
    
    </tr>
    <% studentList.forEach((studentList)=>
        { %>
        <tr>
            <td>
                <%= studentList.sid %>
            </td>
            <td>
                <%= studentList.name %>
            </td>
            <td>
                <%= studentList.gpa %>
            </td>
        </tr>
        <% }) %>
</table>

<!-- link to send you back to the homepage -->
<a href="http://localhost:3004/">
    <p type="submit" value="Home">Home</p>
</a>